body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    color: #2c3e50;
    margin-bottom: 5px;
}

#puzzle-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 3px;
    padding: 5px;
    background-color: #333;
}

.tile {
    width: 100px;
    height: 100px;
    background-image: url('/assets/images/puzzle/puzzle.jpeg');
    background-size: 300px 300px;
    cursor: pointer;
}

.emptyTile {
    background-color: #d1d9e0;
    background-image: none;
    cursor: default;
}

.tile:not(.leeg):hover {
    background-color: none;
    transform: scale(1.03);
    filter: brightness(1.1);
}